<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Share</title>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <script defer src="/js/materialize.min.js"></script>
</head>
<body>
    <div>
        <nav>
            <div class="nav-wrapper blue ">
                <div class="row container">
                    <div class="brand-logo col s1">Share</div>
                </div>
            </div>
        </nav>
        <div class="container">
            <table class="highlight">
                <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file:${files}">
                    <td th:text="${file}"></td>
                    <td><a th:href="@{'open?path='+${file}}" class="filepath"><i class="material-icons">send</i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>